
# App informations -
APP_TOKEN=TOKEN_DU_BOT_ICI
APP_ID=ID_DU_BOT

# API Inforamtions -
EGORIA_KEY=CLE_API_EGORIAMC

# Database Informations -
DB_HOST=
DB_USER=
DB_PASS=
DB_PORT=3306 # par défaut mysql et autres utilisent 3306
DB_NAME=

# Discord ID's
GUILD_ID=
WLCM_CHANNEL=
BUMP_ROLE_ID=

RCON_HOST=
RCON_PORT=
RCON_PASS=